html {
    scroll-behavior: smooth;
}
.table-config {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.title-sec {
    margin-top: 10px;
    margin-bottom: 0;
}
.nav-bg {
    background-color: #11354b;
}
.intro-bg {
    background: url("images/cloud-background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.font-cus1 {
    font-family: 'Fredericka the Great', cursive;
}
#p-temp {
    display: none;
}